services:
  mainnet_monerod:
    image: ghcr.io/sethforprivacy/simple-monerod:v0.18.4.0
    restart: unless-stopped
    user: root
    container_name: mainnet_monerod
    volumes:
      - 'mainnet_monerod-data:/monerod-data/'
    expose:
      - ${MONEROD_PORT:?}
    entrypoint: ''
    command:
      - monerod
      - '--rpc-bind-ip=0.0.0.0'
      - '--rpc-bind-port=${MONEROD_PORT:?}'
      - '--confirm-external-bind'
      - '--restricted-rpc'
      - '--non-interactive'
      - '--enable-dns-blocklist'
      - '--data-dir=/monerod-data/mainnet'
  mainnet_bitcoind:
    container_name: mainnet_bitcoind
    image: getumbrel/bitcoind:v28.0
    restart: unless-stopped
    volumes:
      - 'mainnet_bitcoind-data:/bitcoind-data/'
    expose:
      - ${BITCOIND_RPC_PORT:?}
      - ${BITCOIND_P2P_PORT:?}
    user: root
    entrypoint: ''
    command:
      - 'bitcoind'
      - '-chain=main'
      - '-server=1'
      - '-prune=0'
      - '-txindex=1'
      - '-rpcallowip=0.0.0.0/0'
      - '-rpcbind=0.0.0.0:${BITCOIND_RPC_PORT:?}'
      - '-bind=0.0.0.0:${BITCOIND_P2P_PORT:?}'
      - '-datadir=/bitcoind-data/'
      - '-dbcache=16384'
  mainnet_electrs:
    container_name: mainnet_electrs
    image: getumbrel/electrs:v0.10.6
    restart: unless-stopped
    user: root
    depends_on:
      - mainnet_bitcoind
    volumes:
      - 'mainnet_bitcoind-data:/bitcoind-data'
      - 'mainnet_electrs-data:/electrs-data'
    expose:
      - ${ELECTRS_PORT:?}
    entrypoint: ''
    command:
      - electrs
      - '--network=bitcoin'
      - '--daemon-dir=/bitcoind-data/'
      - '--daemon-rpc-addr=mainnet_bitcoind:${BITCOIND_RPC_PORT:?}'
      - '--daemon-p2p-addr=mainnet_bitcoind:${BITCOIND_P2P_PORT:?}'
      - '--db-dir=/electrs-data/db'
      - '--electrum-rpc-addr=0.0.0.0:${ELECTRS_PORT:?}'
      - '--log-filters=INFO'
  mainnet_asb:
    image: ghcr.io/unstoppableswap/asb:monero-sys-preview
    restart: unless-stopped
    container_name: mainnet_asb
    depends_on:
      - mainnet_electrs
    volumes:
      - './config_mainnet.toml:/asb-data/config_mainnet.toml'
      - 'mainnet_asb-data:/asb-data'
    ports:
      - '0.0.0.0:${ASB_PORT:?}:${ASB_PORT:?}'
    entrypoint: ''
    command:
      - 'asb'
      - '--json'
      - '--config=/asb-data/config_mainnet.toml'
      - 'start'
volumes:
  mainnet_monerod-data:
  mainnet_monero-wallet-rpc-data: # Keeping this here for now to avoid the volume being pruned by docker
  mainnet_bitcoind-data:
  mainnet_electrs-data:
  mainnet_asb-data:
